@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



* {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

body{
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0px;
}

.heading {
    height: 7rem;
    background-color: #F1B714;
    
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding:1.2rem;
    letter-spacing: 2px;
}

textarea {
    width: 85%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#btn-translate {
    border: none;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: .3rem;
    letter-spacing: 1px;
}

#translateout{
    border: 1px solid black;
    height: 10vh;
    width: 85%;
    margin: 1rem;
    padding: 1rem;
}

.container {
    max-width: 80rem;
    margin: 0 15rem;
    text-align: center;
    padding: 0rem 1rem ;
}

/* footer */
.footer {
    width: auto;
    background-color: #F1B714;
    height: 7rem;
    margin: auto 0rem;
    padding: 1.5rem 2rem;
}

.footer-text {
    width: auto;
    margin: 1rem 1rem;
    font-size: auto;
    text-align: center;
}
